.items {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .item {
    position: relative;
    border: 1px solid black;
    display: flex;
    gap: 3rem;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    border-radius: 15px;
    &:first-child {
      margin-top: 3rem;
    }

    span {
      user-select: none;
    }

    button {
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.2rem;
      font-weight: 1000;
      vertical-align: middle;
      cursor: pointer;
      z-index: 99;
      &:hover {
        color: orange;
      }
    }
  }
  .pending {
    background-color: royalblue;
  }
  .done {
    background-color: greenyellow;
  }
}
